@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
<!-- Card-->
<div class="card">
    <div class="card-header">
        <div class="row space-between">
            <div class="col-md-9"><h3>Listado de departamentos</h3></div>
            <div class="col-md-3"><a class="btn btn-primary mdi mdi-plus-circle-outline float-right" asp-controller="Localidad" asp-action="EditDepartamento">  Nuevo</a></div>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline collapsed" style="border-collapse: collapse; border-spacing: 0px; width: 100%;" role="grid" aria-describedby="datatable_info" id="datatable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Código</th>
                    <th>Departamento</th>
                    <th>Acciones</th>
                </tr>
            </thead>

        </table>
    </div>
</div>

<!-- Modal Delete-->
<div class="modal" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar departamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" autocomplete="off">
                    <p>
                        ¿Está seguro que desea eliminar este registro?
                    </p>
                    <div class="row">
                        <div class="col-12">
                            <input type="hidden" id="txtIdDelete">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="btnDelete"><i class="mdi mdi-delete"></i> Aceptar</button>
            </div>
        </div>
    </div>
</div>

<!-- scripts -->
@section Scripts{
    <script src="~/js/app/catalogos/departamentos.js"></script>
    <script src="~/js/app/catalogos/list-departamento.js"></script>
    <script>
        appConfig.Departamentos.configureTable({ listUrl: "@Url.Action("ListDepartamentos")" });
    </script>
}
