@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <link href="~/css/coming-soon/style.css" rel="stylesheet" />
</header>
<body class="coming-soon">

    <!-- BEGIN LOADER -->
    <div id="load_screen">
        <div class="loader">
            <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div>
        </div>
    </div>

    <!--  END LOADER -->
    <div class="coming-soon-container ">
        <div class="coming-soon-cont">
            <div class="coming-soon-wrap ">
                <div class="coming-soon-container">
                    <div class="coming-soon-content">

                        <h4 class="">Nos alegra tenerte</h4>
                        <p class="pt-3">Queremos darte la bienvenida a Gestion Colegial.</p>


                        <h3>Agrega un nuevo..</h3>
                        <div class="row">
                            <div class="col-4" asp-controller="Empleados" asp-action="List">
                                <div class="card bg-primary" >
                                    <div class="card-body">
                                        <img src="assets/img/90x90.jpg" class="card-img-top" alt="...">
                                        <h5 class="title">@Html.ActionLink("Estudiantes", "Index", "Estudiante")</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card bg-primary" asp-controller="Empleados" asp-action="List">
                                    <div class="card-body">
                                        <img src="assets/img/90x90.jpg" class="card-img-top" alt="...">
                                        <h5 class="title">
                                            @Html.ActionLink("Encargados", "Index", "Encargado")</h5>

                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card bg-primary" asp-controller="Empleados" asp-action="List">
                                    <div class="card-body">
                                        <img src="assets/img/90x90.jpg" class="card-img-top" alt="...">
                                        <h5 class="title">@Html.ActionLink("Empleados", "Index", "Empleado")</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="terms-conditions">© 2020 All Rights Reserved. <a href="index.html">GESTIONCOLEGIAL</a> is a product of Designreset. <a href="javascript:void(0);">Cookie Preferences</a>, <a href="javascript:void(0);">Privacy</a>, and <a href="javascript:void(0);">Terms</a>.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="coming-soon-image">
            <div class="l-image" style="background-color:#FFE5D2">
                <div class="img-content">
                    <img src="~/images//mochila.jpg" alt="coming_soon">
                </div>
            </div>
        </div>
    </div>

</body>
</html>