@model EntradaViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Agregar Entradas</h4>
        </div>
        <div class="card-body">
            <form asp-action="Add" asp-controller="Entrada" method="post" autocomplete="ON">
                <!-- Campo Id -->
                <input type="hidden" asp-for="ent_Id" id="ent_Id" />
                <!--Fila-->
                <div class="form-row">
                    <!-- Campo Id -->
                    <div class="form-group col-md-6">
                        <label class="control-label required">Refugio</label>
                        <select class="form-control" asp-for="refg_Id" id="refg_Id">
                            <option value="" selected>Seleccionar</option>
                        </select>
                        <span class="text-danger" asp-validation-for="refg_Id"></span>
                    </div>
                    <!-- Campo Fecha -->
                    <div class="form-group col-md-6">
                        <label class="control-label required"></label>
                        <input class="form-control" asp-for="ent_Fecha" id="ent_Fecha" type="text" />
                        <span class="text-danger" asp-validation-for="ent_Fecha"></span>
                    </div>
                </div>
            </form>
        </div>

        @* Listado *@
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12"><h3>Listado de Entradas</h3></div>
                    <div class="col-md-2">
                    </div>
                </div>
            </div>

            <div class="card-body">
                <table class="table table-striped dt-responsive nowrap " id="datatable">
                    <thead class="text-center bg-primary text-white">
                        <tr>
                            <th>Fila</th>
                            <th>Descripción</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>


    @section Scripts {
        <script src="~/js/components/datatable/datatable.init.js"></script>

        <script src="~/js/pages/entradas.js"></script>
        <script>
        entradas.datatableCatalogs({listUrl: "@Url.Action("List")" });

        </script>

    }
