 <!--  BEGIN NAVBAR  -->
    <div class="header-container fixed-top">
        <header class="header navbar navbar-expand-sm">
            
            <ul class="navbar-nav theme-brand flex-row text-center text-white">
                <li class="nav-item theme-logo text-white">
                   <i class="fa-solid fa-paw fa-xl"></i>
                </li>
                <li class="nav-item theme-text ">
                    @Html.ActionLink("Petshome", "Index", "Home")
                </li>
                <li class="nav-item toggle-sidebar fa-xl">
                    <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom"><i class="fa-solid fa-bars"></i></a>
                </li>
            </ul>

        </header>
    </div>
    <!--  END NAVBAR  -->
