@model EmpleadoViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Registro de empleado</h3>
        </div>

        <div class="card-body">
            <form asp-action="Add" method="post" autocomplete="ON" enctype="multipart/form-data">
                <input class="form-control" asp-for="emp_Id" type="hidden" />
                <!--Fila-->
                <div class="form-row">
                    <!--Campo Codigo-->
                    <div class="form-group col-md-6">
                        <label class="control-label">Codigo</label>
                        <input class="form-control" asp-for="emp_Codigo" type="text" />
                        <span class="text-danger" asp-validation-for="emp_Codigo"></span>
                    </div>
                    <!--Campo Persona-->
                    <div class="form-group col-md-6">
                        <label class="control-label">Persona</label>
                        <input class="form-control" asp-for="per_Id" type="text" />
                        <span class="text-danger" asp-validation-for="per_Id"></span>
                    </div>
                </div>
                <!--Fila-->
                <div class="form-row">
                    <!--Campo Refugio-->
                    <div class="form-group col-md-6">
                        <label class="control-label">Refugio</label>
                        <input class="form-control" asp-for="refg_Id" type="text" />
                        <span class="text-danger" asp-validation-for="refg_Id"></span>
                    </div>
                    <!--Campo Cargo-->
                    <div class="form-group col-md-6">
                        <label class="control-label">Cargo</label>
                        <input class="form-control" asp-for="cag_Id" type="text" />
                        <span class="text-danger" asp-validation-for="cag_Id"></span>
                    </div>
                </div>
                <!--Fila-->
                <div class="form-row">
                    <!--Campo EsActivo-->
                    <div class="form-group col-md-6">
                        <label class="control-label">EsActivo</label>
                        <input class="form-control" asp-for="emp_EsActivo" type="text" />
                        <span class="text-danger" asp-validation-for="emp_EsActivo"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
<script src="~/js/load-dropdownlist.js"></script>
<script src="~/js/Extensions/image-Extension.js"></script>
}