@model HistorialMedicoViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Agregar Historial Medico</h4>
        </div>
        <div class="card-body">
            <form asp-action="Add" asp-controller="HistorialMedico" method="post" autocomplete="ON">
                <!-- Campo Id -->
                <input type="hidden" asp-for="medic_Id" id="medic_Id" />
                <!--Fila-->
                <div class="form-row">
                    <!-- Campo Id -->
                    <div class="form-group col-md-6">
                        <label class="control-label required">Mascota</label>
                        <select class="form-control" asp-for="masc_Id" id="masc_Id">
                            <option value="" selected>Seleccionar</option>
                        </select>
                        <span class="text-danger" asp-validation-for="masc_Id"></span>
                    </div>
                    <!-- Campo Esterilizacion -->
                    <div class="form-group col-md-6">
                        <label class="control-label required">Esterilización</label>
                        <input class="form-control" asp-for="medic_Esterilizacion" id="medic_Esterilizacion" type="text" />
                        <span class="text-danger" asp-validation-for="medic_Esterilizacion"></span>
                    </div>
                </div>
                <!--Fila-->
                <div class="form-row">
                    <!-- Campo Comportamiento -->
                    <div class="form-group col-md-6">
                        <label class="control-label required">Comportamiento</label>
                        <input class="form-control" asp-for="medic_Comportamiento" id="medic_Comportamiento" type="text" />
                        <span class="text-danger" asp-validation-for="medic_Comportamiento"></span>
                    </div>
                    <!-- Campo SaludCuidado -->
                    <div class="form-group col-md-6">
                        <label class="control-label required">Salud Cuidado</label>
                        <input class="form-control" asp-for="medic_SaludCuidado" id="medic_SaludCuidado" type="text" />
                        <span class="text-danger" asp-validation-for="medic_SaludCuidado"></span>
                    </div>

                </div>
                <!--Fila-->
                <div class="form-row">
                    <!-- Campo InformacionAdicional -->
                    <div class="form-group col-md-6">
                        <label class="control-label required">Información Adicional</label>
                        <input class="form-control" asp-for="medic_InformacionAdicional" id="medic_InformacionAdicional" type="text" />
                        <span class="text-danger" asp-validation-for="medic_InformacionAdicional"></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/components/datatable/datatable.init.js"></script>

    <script src="~/js/pages/Historial-Medico.js"></script>
    <script>
        HistorialMedico.datatable({listUrl: "@Url.Action("List")" });

    </script>

}
