@model RefugioViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Registro de refugio</h3>
        </div>

        <div class="card-body">
            <form asp-action="Add" method="post" autocomplete="ON" enctype="multipart/form-data">
                <input class="form-control" asp-for="refg_Id" type="hidden" />
                <!--Fila-->
                <div class="form-row">
                    <!--Campo Nombre-->
                    <div class="form-group col-md-6">
                        <label class="control-label">Nombre</label>
                        <input class="form-control" asp-for="refg_Nombre" type="text" />
                        <span class="text-danger" asp-validation-for="refg_Nombre"></span>
                    </div>
                    <!--Campo Ubicación-->
                    <div class="form-group col-md-6">
                        <label class="control-label">Ubicación</label>
                        <input class="form-control" asp-for="refg_Ubicacion" type="text" />
                        <span class="text-danger" asp-validation-for="refg_Ubicacion"></span>
                    </div>
                </div>
                <!--Fila-->
                <div class="form-row">
                    <!--Campo RTN-->
                    <div class="form-group col-md-6">
                        <label class="control-label">RTN</label>
                        <input class="form-control" asp-for="refg_RTN" type="number" />
                        <span class="text-danger" asp-validation-for="refg_RTN"></span>
                    </div>
                    <!--Campo Telefono-->
                    <div class="form-group col-md-6">
                        <label class="control-label">Teléfono</label>
                        <input class="form-control" asp-for="refg_Telefono" type="number" />
                        <span class="text-danger" asp-validation-for="refg_Telefono"></span>
                    </div>
                </div>
                <!--Fila-->
                <div class="form-row">
                    <!--Campo Departamento-->
                    <div class="form-group col-md-6">
                        <label class="control-label">Departamento</label>
                        <select class="form-control" asp-for="depto_Id" asp-items="Model.departamentoList">
                            <option value="">-- Seleccionar --</option>
                        </select>
                        <span class="text-danger" asp-validation-for="depto_Id"></span>
                    </div>
                    <!--Campo Municipio-->
                    <div class="form-group col-md-6">
                        <label class="control-label">Municipio</label>
                        <select class="form-control" asp-for="mpio_Id" asp-items="Model.municipioList">
                            <option value="">-- Seleccionar --</option>
                        </select>
                        <span class="text-danger" asp-validation-for="mpio_Id"></span>
                    </div>
                </div>
                <!--Fila-->
                <div class="form-row">
                    <!--Campo Información Adicional-->
                    <div class="form-group col-md-6">
                        <label class="control-label">Información Adicional</label>
                        <textarea class="form-control" asp-for="refg_InformacionAdicional" rows="4"></textarea>
                        <span class="text-danger" asp-validation-for="refg_InformacionAdicional"></span>
                        <div class="form-group col-md-6">
                        </div>
                    </div>
                    <!--Campo Correo Electrónico-->
                    <div class="form-group col-md-6">
                        <label class="control-label">Correo Electrónico</label>
                        <input class="form-control" asp-for="refg_Correo" type="email" />
                        <span class="text-danger" asp-validation-for="refg_Correo"></span>
                        <!--Fila-->
                        <!--Campo refg_EsActivo-->
                        <div class="row mt-4 d-flex align-items-center justify-content-between">
                            <!-- Botones de formulario -->
                            <div class="col-md-5">
                                <label>
                                    <input type="checkbox" asp-for="refg_EsActivo">
                                    Estado
                                </label>
                            </div>
                            <div class="col-md-7 d-flex justify-content-end">
                                <a class="btn mr-2 btn btn-secondary" asp-action="Index">Cancelar</a>
                                <button type="submit" class="btn btn-primary"><i class="mdi mdi-content-save"></i> Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
<script src="~/js/load-dropdownlist.js"></script>
<script src="~/js/Extensions/image-Extension.js"></script>
}