@model RefugioViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Agregar Refugios</h4>
        </div>
        <div class="card-body">
            <form asp-action="Add" asp-controller="Refugio" method="post" autocomplete="ON">
                <!-- Campo Id -->
                <input type="hidden" asp-for="refg_Id" id="refg_Id" />
                <!--Fila-->
                <div class="form-row">
                    <!-- Campo Nombre -->
                    <div class="form-group col-md-6">
                        <label class="control-label required">Nombre</label>
                        <input class="form-control" asp-for="refg_Nombre" id="refg_Nombre" type="text" />
                        <span class="text-danger" asp-validation-for="refg_Nombre"></span>
                    </div>
                    <!-- Campo Ubicacion -->
                    <div class="form-group col-md-6">
                        <label class="control-label required">Ubicacion</label>
                        <input class="form-control" asp-for="refg_Ubicacion" id="refg_Ubicacion" type="text" />
                        <span class="text-danger" asp-validation-for="refg_Ubicacion"></span>
                    </div>
                </div>
                <!--Fila-->
                <div class="form-row">
                    <!-- Campo RTN -->
                    <div class="form-group col-md-6">
                        <label class="control-label required">RTN</label>
                        <input class="form-control" asp-for="refg_RTN" id="refg_RTN" type="text" />
                        <span class="text-danger" asp-validation-for="refg_RTN"></span>
                    </div>
                    <!-- Campo Telefono -->
                    <div class="form-group col-md-6">
                        <label class="control-label required">Telefono</label>
                        <input class="form-control" asp-for="refg_Telefono" id="refg_Telefono" type="text" />
                        <span class="text-danger" asp-validation-for="refg_Telefono"></span>
                    </div>
                </div>
                <!--Fila-->
                <div class="form-row">
                    <!-- Campo Correo -->
                    <div class="form-group col-md-6">
                        <label class="control-label required">Correo</label>
                        <input class="form-control" asp-for="refg_Correo" id="refg_Correo" type="text" />
                        <span class="text-danger" asp-validation-for="refg_Correo"></span>
                    </div>
                    <!-- Campo InformacionAdicional -->
                    <div class="form-group col-md-6">
                        <label class="control-label required">Informacion Adicional</label>
                        <input class="form-control" asp-for="refg_InformacionAdicional" id="refg_InformacionAdicional" type="text" />
                        <span class="text-danger" asp-validation-for="refg_InformacionAdicional"></span>
                    </div>
                </div>
                <!--Fila-->
                <div class="form-row">
                    <!-- Campo Departamento -->
                    <div class="form-group col-md-6">
                        <label class="control-label required">Departamento</label>
                        <select class="form-control" asp-for="depto_Id" asp-items="Model.departamentoList" id="depto_Id">
                            <option value="" selected>Seleccionar</option>
                        </select>
                        <span class="text-danger" asp-validation-for="depto_Id"></span>
                    </div>
                    <!-- Campo Municipio -->
                    <div class="form-group col-md-6">
                        <label class="control-label required">Municipio</label>
                        <select class="form-control" asp-for="mpio_Id" asp-items="Model.municipioList" id="mpio_Id">
                            <option value="" selected>Seleccionar</option>
                        </select>
                        <span class="text-danger" asp-validation-for="mpio_Id"></span>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/components/datatable/datatable.init.js"></script>

    <script src="~/js/pages/Refugios.js"></script>
    <script>
        raza.datatable({listUrl: "@Url.Action("List")" });

    </script>

}
