@model EventoViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card">
        <div class="card-header">
            <h3>Registro de evento</h3>
        </div>

        <div class="card-body">
            <form asp-action="Add" method="post" autocomplete="ON" enctype="multipart/form-data">
                <input class="form-control" asp-for="eve_Id" type="hidden" />
                <!--Fila-->
                <div class="form-row">
                    <!--Campo Descripcion-->
                    <div class="form-group col-md-6">
                        <label class="control-label">Descripcion</label>
                        <input class="form-control" asp-for="eve_Descripcion" type="text" />
                        <span class="text-danger" asp-validation-for="eve_Descripcion"></span>
                    </div>
                    <!--Campo Refugio-->
                    <div class="form-group col-md-6">
                        <label class="control-label">Refugio</label>
                        <select class="form-control" asp-for="refg_Id" asp-items="Model.refugioList">
                            <option value="">-- Seleccionar --</option>
                        </select>
                    </div>
                </div>
                <!--Fila-->
                <div class="form-row">
                    <!--Campo Hora Inicio-->
                    <div class="form-group col-md-6">
                        <label class="control-label">Hora Inicio</label>
                        <input class="form-control" asp-for="eve_HoraInicio" type="time" />
                        <span class="text-danger" asp-validation-for="eve_HoraInicio"></span>
                    </div>
                    <!--Campo Hora Final-->
                    <div class="form-group col-md-6">
                        <label class="control-label">Hora Final</label>
                        <input class="form-control" asp-for="eve_HoraFinal" type="time" />
                        <span class="text-danger" asp-validation-for="eve_HoraFinal"></span>
                    </div>
                </div>
                <!--Fila-->
                <div class="form-row">
                    <!--Campo Fecha-->
                    <div class="form-group col-md-6">
                        <label class="control-label">Fecha</label>
                        <input class="form-control" asp-for="eve_Fecha" type="date" />
                        <span class="text-danger" asp-validation-for="eve_Fecha"></span>
                    </div>
                    <!--Botones de accion en el formulario-->
                    <div class="form-group col-md-6">
                        <div class="float-right mt-4">
                            <a class="btn mr-2 btn btn-secondary " asp-action="Index">Cancelar</a>
                            <button type="submit" class="btn btn-primary"><i class="mdi mdi-content-save"></i> Guardar</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts{
<script src="~/js/load-dropdownlist.js"></script>
<script src="~/js/Extensions/image-Extension.js"></script>
}
